/* @font-face {
  font-family: Test;
  src: url()
} */

:root {
  --color-bg-primary: #dfddd7;
  --bg: #f7f8fa;
  --card: #ffffff;
  --muted: #6b7280;
  --primary: #4e92a9;
  --accent: #f8b056;
  --radius: 12px;
  --gap: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}